<style>
[class*="col-"] {width: 100%;}
.backgroundyellow{background-color: #ffffff; text-align: center; width: 40%; margin:auto;padding: 20px;}
body{background-color:rgb(235, 230, 230);}
.themkichthuoc{width: 60%;}
.box{text-align: center; background-color: rgb(248, 167, 208); width: 30%; margin: auto; padding: 16.5% 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
a{text-decoration: none;color: cadetblue;}
.botton{border-radius: 20%;}
@media (max-width:770px){.backgroundyellow{width: 80%;}}
@media (max-width:770px){.box{width: 60%;}}
</style>